@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap);

.mainSection {
  height: 100%;
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  /* background-color: saddlebrown; */
}

.heroText {
  font-size: 24vw;
  text-shadow: 5px 5px #2e2e2eb3;
  font-family: "Alfa Slab One", cursive;
  color: white;
  margin-bottom: 20px;
}

.shopButton {
  margin: 40px;
  background-color: rgb(224, 55, 8); /* Green */
  border: 2px solid white;
  /* width: 20vw; */
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  font-family: "Alfa Slab One", cursive;
  /* font-family: "Times New Roman", Times, serif; */
  box-shadow: 4px 4px 4px #2e2e2e3c;
  text-shadow: 4px 4px 4px #2e2e2e86;
  cursor: pointer;
}

.homeText {
  text-shadow: 2px 2px 2px #2e2e2eb3;
  font-weight: bold;
  font-size: 4vw;
  color: white;
  padding: 20px;
}

.footer {
  display: grid;
  align-content: flex-end;
  text-align: center;
  background-color: pink;
  min-height: 100%;
}

.footerText {
  color: white;
  font-size: 2vw;
  /* padding: 20px; */
  /* max-width: 400px; */
}
